* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: lightblue;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
}

h1 {
  font-size: 3rem;
  margin: 1rem;
}

button {
  cursor: pointer;
}

.new-item {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

#todo-thing {
  height: 2.5rem;
  line-height: 2.5rem;
  width: 50%;
  font-size: 1.3rem;
}

#difficulty {
  height: 2.5rem;
  line-height: 2.5rem;
  width: 25%;
  margin: 0 0.5rem;
  font-size: 1.3rem;
}

.add-button {
  height: 2.5rem;
  width: 4rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 992px) {
  .container {
    width: 100vw;
  }
  #todo-thing {
    width: 90%;
  }
  #difficulty {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .new-item {
    height: 30%;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.error-style {
  background-color: rgb(180, 39, 39);
  color: white;
  margin: 0.3rem;
  font-size: 1.1rem;
  padding: 0.2rem;
  transition: all linear 0.3s;
}

.todo-box {
  margin: 1rem 0;
}

.list-item {
  font-size: 1.5rem;
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

.delete-button {
  font-size: 1.2rem;
}

.complete {
  text-decoration: line-through;
}

.incomplete {
  color: red;
}

#calculator-title,
#calculator-percent {
  font-weight: 700;
  font-size: 1.2rem;
}

.order {
  margin: 1rem;
}

.order > button {
  font-size: 1rem;
  padding: 0.3rem;
}

.hardest > p,
#hardestItem {
  font-size: 1.3rem;
  font-weight: 700;
}
